@media (min-width: 768px) {
  body {
    background-color: #f3f4f6;
  }
}

@keyframes droplet {
  0% {
    transform: scale(50%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 0
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}