[un-cloak] {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-color: #f3f4f6;
  }
}

@keyframes pop {
  0% {
    transform: scale(100%);
  }
  33% {
    transform: scale(200%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes gold-plating {
  0% {
    transform: rotate(0deg) scale(100%);
  }
  50% {
    transform: rotate(360deg) scale(200%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes droplet {
  0% {
    transform: scale(50%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 0
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: attr(data-height);
  }
}

@keyframes glint {
  0% {
    filter: grayscale(100%)
  }
  100% {
    filter: grayscale(0%)
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}